# ========================================
# .NET
# ========================================

bin/
obj/

.vs/
.vscode/

*.user
*.suo

# ========================================
# Frontend
# ========================================
node_modules/
dist/


# Environment files
.env
.env.*
.env.example

# ========================================
# Application configuration
# ========================================

**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Local.json

# ========================================
# Logs
# ========================================

*.log
logs/

# ========================================
# OS
# ========================================

.DS_Store
Thumbs.db